.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: 2em;
  color: white;
  padding: 1em;
}

#memeContainer div {
    display: inline-block;
    vertical-align: top;
}
#memeContainer div span {
    display: block;
    padding: 0px 10px;
    border-radius: 5px;
    font-family: cursive, serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    color: black;
    background-color: snow;
    opacity: 65%;
}

.top {
    top: 0;
    margin-top: 10px;
}
.bottom {
    bottom: 0;
    margin-bottom: 10px;
}
